body {
    background-color: black;
    margin: 0px;
}

div {
    width: 200px;
    height: 100px;
}

h1,
p {
    color: white;
    display: inline;
    font-size: 20px;
}

.staticObjects,
.dinamicObjects {
    position: absolute;
    border-radius: 50%;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}